body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #2b2b2b;
    background: #f0eeee;
    box-sizing: border-box;
}

header{
    background-color:#1b4332;
    padding: 20px;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

a{
    text-decoration: none;
    color:#d4af37;
    font-weight: bold;
}
button{
    background-color: #d4af37;
    color: #1b4332;
    padding: 12px 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}


.sec1{
    background: linear-gradient(135deg, #0f3d2e, #1b4332);
    color:white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    gap: 50px;
    

}
.tagline{
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sec1 h1{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 50px;
     margin-top:10px;
     color:#d4af37;
}
.sec1 h2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size:28px; 
       color:#f5e9d3;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium
}



.left {
    
    margin-right: 100px;
    margin-left: 50px;

}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .right img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
.sec2{
    text-align: center;
}
.abt{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:45px;
    color:#8a6d1d;
    background-color:#fff8e7;
    text-align: center;
    
}

.skills{
    list-style: none;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
   
}

.skills li{
    background: linear-gradient(135deg, #0f3d2e, #1b4332);
    color:#d4af37;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(15,61,46,0.35);
    transition: 0.3s;
    
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    padding-top: 10px;
}

.project-card{
    width: 280px;
    background: linear-gradient(135deg, #0f3d2e, #1b4332);
    color: #d4af37;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    
    
}

.project-card h3{
    color: #d4af37;
    margin-bottom: 10px;
    font-size: 30PX;
    font-weight: bold;
}

.project-card p{
    color: #f5e9d3;
    font-size: 20px;
}


.info{
    text-align: center;
    color:#3d3d3d;
}

.dark-mode{
    background: #121212;
    color: white;
}

.dark-mode header{
    background: #000;
}

.dark-mode .abt{
    background: #222;
    color: #d4af37;
}

.dark-mode .sec2,
.dark-mode .info{
    color: white;
}

.dark-mode .skills li{
    background: #333;
}

.links{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.links a{
    
    background-color: #1b4332;
    color: #d4af37;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width:768px)
        {
            .sec1{
                flex-direction: column;
                text-align: center;
            }
            .left,.right{
                padding: 12px;
            }
        }